{% extends "base.html" %}
{% block history_active %}active{% endblock %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'history/css/history.css' %}">
{% endblock %}

{% block content %}
<style>
    #hero-single {
        background-image: url('{{ MEDIA_URL }}history/history-hero-image.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 100%;
    }
</style>
<!-- Hero Section -->
<section id="hero-single" class="text-center">
    <div class="container d-flex align-items-center justify-content-center fs-1 text-white flex-column">
        <h1 class="text-uppercase" data-aos="fade-left">Welcome to the Museum</h1>
        <h2 data-aos="fade-right">Over 100+ Years of History Over 3 Generations</h2>
    </div>
</section>
<!-- End Hero Section -->

<!-- History Section -->
<section id="history" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center" data-aos="fade-down" data-aos-delay="50">
                <div class="section-title">
                    <h1 class="display-4 fw-semibold">Our History</h1>
                    <div class="line"></div>
                    <p>A Legacy of Innovation and Resilience: Honoring over a century of craftsmanship, from our humble
                        beginnings in 1903 to our commitment to excellence today.</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-between align-items-center">

            <div class="col-lg-5" data-aos="fade-down" data-aos-delay="50">
                <h1>The Dunne Legacy</h1>
                <p class="mt-3 mb-4">Dunnes Workshop was founded in 1903 by Charles Dunne, a remarkably innovative
                    craftsman who powered his sawmill with a steam engine. Known as both a skilled journeyman and a
                    wheelwright, Charles crafted wheels and carts for local farmers. After his tragic passing in 1942,
                    his wife Annie and son Joe took on the challenge of running the business, with support from Charles
                    Harte. Together, they upheld the Dunne tradition through difficult times.</p>
                <p>A new era began in 1959 when Joe married Anne. Facing the hardships of the 1960s, they worked
                    tirelessly to grow the business, eventually building a team of over 40 employees by the 1980s, when
                    their children Paul, Norah, and Ian joined the family trade.</p>
                <p>In 2014, following Joe's passing, the company evolved further. Ian now leads the manufacturing of
                    stairs, internal door kits, and external windows and doors, with a deep commitment to energy
                    efficiency. At Dunne Eco, we are passionate about producing high-performance, passive-standard
                    windows and doors, while staying true to our heritage in crafting quality stairs and internal doors.
                </p>
            </div>
            <div class="col-lg-6" data-aos="fade-down" data-aos-delay="150">
                <img src="{{ MEDIA_URL }}history/our-history-image.png" loading="lazy" alt="">
                <p><small>Ian Dunne: Managing Director</small></p>
            </div>
        </div>
    </div>
</section>
<!-- End History Section -->

<!-- Timeline Section -->
<section id="timeline" class="section-padding">
    <div class="timeline-wrapper" data-aos="fade-down" data-aos-anchor-placement="top-center">
        <div class="section-title">
            <h1 class="display-4 fw-semibold text-white text-center">The Journey</h1>
            <div class="line line-white"></div>
            <p class="text-white text-center">A Detailed Timeline Showcasing the Historic Milestones, Generational
                 Dedication, and Craftsmanship That Shaped the Journey to Dunne Eco.</p>
        </div>
        <div class="timeline">
            <div class="timeline-box-container left-container" data-aos="fade-down" data-aos-delay="150">
                <img src="{{ MEDIA_URL }}history/1st-generation.png" loading="lazy" alt="">
                <div class="timeline-text-box">
                    <h2>1st Generation</h2>
                    <small>1903 - 1916</small>
                    <p>Charles Dunne started working as a journeyman tradesman. In 1915 he bought Blakefield where the
                        original Workshop was started.</p>
                    <span class="left-timeline-arrow"></span>
                </div>
            </div>
            <div class="timeline-box-container right-container" data-aos="fade-down" data-aos-delay="250">
                <img src="{{ MEDIA_URL }}history/steam-power-timeline-img.png" loading="lazy" alt="">
                <div class="timeline-text-box">
                    <h2>Steam Power</h2>
                    <small>1916 - 1942</small>
                    <p>In 1916 Charles purchased a Ransome portable steam engine and a rack bench where he started to
                        mill timber to manufacure cart wheels, shafts & component parts for bog barrows and all other
                        farm equipment.</p>
                    <span class="right-timeline-arrow"></span>
                </div>
            </div>
            <div class="timeline-box-container left-container" data-aos="fade-down" data-aos-delay="350">
                <img src="{{ MEDIA_URL }}history/2nd-generation.png" loading="lazy" alt="">
                <div class="timeline-text-box">
                    <h2>2nd Generation</h2>
                    <small>1942 - 1950</small>
                    <p>After the sad passing of Charles, his son Joe Dunne had to leave school and start his
                        apprenticeship under the guidance of Charlie Harte. Joe was a very quick learner and like his
                        father before him, was a very innovative man.</p>
                    <span class="left-timeline-arrow"></span>
                </div>
            </div>
            <div class="timeline-box-container right-container" data-aos="fade-down" data-aos-delay="450">
                <img src="{{ MEDIA_URL }}history/house-building-timeline-img.jpg" loading="lazy" alt="">
                <div class="timeline-text-box">
                    <h2>House Building</h2>
                    <small>1950 - 1970</small>
                    <p>Joe started building houses and the workshop was used to make the joinery for those houses. He
                        progressed into building schools, banks and commercial buildings.</p>
                    <span class="right-timeline-arrow"></span>
                </div>
            </div>
            <div class="timeline-box-container left-container" data-aos="fade-down" data-aos-delay="450">
                <img src="{{ MEDIA_URL }}history/joinery-timeline-img.png" loading="lazy" alt="">
                <div class="timeline-text-box">
                    <h2>Joinery</h2>
                    <small>1970 - 1980</small>
                    <p>Joe's love for joinery saw him purchase many machines and the business started to grow
                        exponentially.</p>
                    <span class="left-timeline-arrow"></span>
                </div>
            </div>
            <div class="timeline-box-container right-container" data-aos="fade-down" data-aos-delay="550">
                <img src="{{ MEDIA_URL }}history/3rd-generation.png" loading="lazy" alt="">
                <div class="timeline-text-box">
                    <h2>3rd Generation</h2>
                    <small>1980 - 2014</small>
                    <p>Joe decided to close down the building and concentrate on the joinery. He was later joined by the
                        3rd generation who brought the business from 40 people to over 100 in 2003.</p>
                    <span class="right-timeline-arrow"></span>
                </div>
            </div>
            <div class="timeline-box-container left-container" data-aos="fade-down" data-aos-delay="650">
                <img src="{{ MEDIA_URL }}history/dunneeco-icon-white.png" loading="lazy" alt="">
                <div class="timeline-text-box">
                    <h2>Dunne Eco Opens</h2>
                    <small>2014 - 2018</small>
                    <p>Joe sadly passes away in mid 2014 and Dunnes Workshop was closed. Ian decided to go it alone and
                        started Dunne Eco in 2015.</p>
                    <span class="left-timeline-arrow"></span>
                </div>
            </div>
            <div class="timeline-box-container right-container" data-aos="fade-down" data-aos-delay="550">
                <img src="{{ MEDIA_URL }}history/new-beginnings-timeline-img.jpg" loading="lazy" alt="">
                <div class="timeline-text-box">
                    <h2>New Beginnings</h2>
                    <small>2018 - Present</small>
                    <p>Ian was joined by Joseph Egan, the head foreman out of Dunnes Workshop. Dunne Eco really took
                        off from there with the purchases of new machines to produce the quality of joinery that we do
                        today.</p>
                    <span class="right-timeline-arrow"></span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Timeline Section -->

<!-- Heritage Gallery Section -->
<section id="heritage" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center" data-aos="fade-down" data-aos-delay="150">
                <div class="section-title">
                    <h1 class="display-4 fw-semibold">Heritage Gallery</h1>
                    <div class="line"></div>
                    <p>Step back in time with our Heritage Gallery, showcasing treasured moments and craftsmanship that
                        define our journey through the years.</p>
                </div>
            </div>
        </div>
        <div class="row g-4">
            <!-- Column 1 -->
            <div class="col-lg-3 col-6" data-aos="fade-down" data-aos-delay="150">
                <div class="d-flex flex-column align-items-stretch">
                    <div class="heritage-item image-zoom">
                        <div class="image-zoom-wrapper">
                            <img src="{{ MEDIA_URL }}history/history-img-1.png" loading="lazy" alt="">
                        </div>
                        <a href="{{ MEDIA_URL }}history/history-img-1.png" data-fancybox="gallery"
                            data-caption="Charles Dunne on the right and Joe Dunne in 1928." class="iconbox"><i
                                class="ri-search-2-line"></i></a>
                    </div>
                    <div class="heritage-item image-zoom mt-4">
                        <div class="image-zoom-wrapper">
                            <img src="{{ MEDIA_URL }}history/history-img-5.jpg" loading="lazy" alt="">
                        </div>
                        <a href="{{ MEDIA_URL }}history/history-img-5.jpg" data-fancybox="gallery"
                            data-caption="The staff heading to work in the late 1940s." class="iconbox"><i
                                class="ri-search-2-line"></i></a>
                    </div>
                    <div class="heritage-item image-zoom mt-4">
                        <div class="image-zoom-wrapper">
                            <img src="{{ MEDIA_URL }}history/history-img-6.jpg" loading="lazy" alt="">
                        </div>
                        <a href="{{ MEDIA_URL }}history/history-img-6.jpg" data-fancybox="gallery"
                            data-caption="Joe Dunne with Barney Glennon, Sean Castles, & Tony Marshall assembling frames in the 1970s."
                            class="iconbox"><i class="ri-search-2-line"></i></a>
                    </div>
                    <div class="heritage-item image-zoom mt-4">
                        <div class="image-zoom-wrapper">
                            <img src="{{ MEDIA_URL }}history/history-img-13.jpg" loading="lazy" alt="">
                        </div>
                        <a href="{{ MEDIA_URL }}history/history-img-13.jpg" data-fancybox="gallery"
                            data-caption="The workshop lads having their tea break in 1979." class="iconbox"><i
                                class="ri-search-2-line"></i></a>
                    </div>
                </div>
            </div>
            <!-- Column 2 -->
            <div class="col-lg-3 col-6" data-aos="fade-down" data-aos-delay="250">
                <div class="d-flex flex-column align-items-stretch">
                    <div class="heritage-item image-zoom">
                        <div class="image-zoom-wrapper">
                            <img src="{{ MEDIA_URL }}history/history-img-2.png" loading="lazy" alt="">
                        </div>
                        <a href="{{ MEDIA_URL }}history/history-img-2.png" data-fancybox="gallery"
                            data-caption="Steam power introduced to the factory in 1916." class="iconbox"><i
                                class="ri-search-2-line"></i></a>
                    </div>
                    <div class="heritage-item image-zoom mt-4">
                        <div class="image-zoom-wrapper">
                            <img src="{{ MEDIA_URL }}history/history-img-9.jpg" loading="lazy" alt="">
                        </div>
                        <a href="{{ MEDIA_URL }}history/history-img-9.jpg" data-fancybox="gallery"
                            data-caption="Sean Castles & Joe Dunne heading off on their 250 BSA in the 1940s."
                            class="iconbox"><i class="ri-search-2-line"></i></a>
                    </div>
                    <div class="heritage-item image-zoom mt-4">
                        <div class="image-zoom-wrapper">
                            <img src="{{ MEDIA_URL }}history/history-img-10.jpg" loading="lazy" alt="">
                        </div>
                        <a href="{{ MEDIA_URL }}history/history-img-10.jpg" data-fancybox="gallery"
                            data-caption="The lads air stacking timber for the roof of the house that they were building in Tullamore in the early 1950s."
                            class="iconbox"><i class="ri-search-2-line"></i></a>
                    </div>
                    <div class="heritage-item image-zoom mt-4">
                        <div class="image-zoom-wrapper">
                            <img src="{{ MEDIA_URL }}history/history-img-14.jpg" loading="lazy" alt="">
                        </div>
                        <a href="{{ MEDIA_URL }}history/history-img-14.jpg" data-fancybox="gallery"
                            data-caption="Tommy Smith & Christy McNevin test fitting a door into a frame in the 1980s."
                            class="iconbox"><i class="ri-search-2-line"></i></a>
                    </div>
                </div>
            </div>
            <!-- Column 3 -->
            <div class="col-lg-3 col-6" data-aos="fade-down" data-aos-delay="350">
                <div class="d-flex flex-column align-items-stretch">
                    <div class="heritage-item image-zoom">
                        <div class="image-zoom-wrapper">
                            <img src="{{ MEDIA_URL }}history/history-img-3.png" loading="lazy" alt="">
                        </div>
                        <a href="{{ MEDIA_URL }}history/history-img-3.png" data-fancybox="gallery"
                            data-caption="Transport to work in the early 1950s." class="iconbox"><i
                                class="ri-search-2-line"></i></a>
                    </div>
                    <div class="heritage-item image-zoom mt-4">
                        <div class="image-zoom-wrapper">
                            <img src="{{ MEDIA_URL }}history/history-img-7.jpg" loading="lazy" alt="">
                        </div>
                        <a href="{{ MEDIA_URL }}history/history-img-7.jpg" data-fancybox="gallery"
                            data-caption="Charlie Hart & Paul Mann, factory workers in the 1940s." class="iconbox"><i
                                class="ri-search-2-line"></i></a>
                    </div>
                    <div class="heritage-item image-zoom mt-4">
                        <div class="image-zoom-wrapper">
                            <img src="{{ MEDIA_URL }}history/history-img-11.jpg" loading="lazy" alt="">
                        </div>
                        <a href="{{ MEDIA_URL }}history/history-img-11.jpg" data-fancybox="gallery"
                            data-caption="Joe Dunne outside the workshop with the ford and the first pickup with the split screen in the late 1950s."
                            class="iconbox"><i class="ri-search-2-line"></i></a>
                    </div>
                    <div class="heritage-item image-zoom mt-4">
                        <div class="image-zoom-wrapper">
                            <img src="{{ MEDIA_URL }}history/history-img-15.jpg" loading="lazy" alt="">
                        </div>
                        <a href="{{ MEDIA_URL }}history/history-img-15.jpg" data-fancybox="gallery"
                            data-caption="Joe, Sean and Cathal with the Lads in 1950s." class="iconbox"><i
                                class="ri-search-2-line"></i></a>
                    </div>
                </div>
            </div>
            <!-- Column 4 -->
            <div class="col-lg-3 col-6" data-aos="fade-down" data-aos-delay="450">
                <div class="d-flex flex-column align-items-stretch">
                    <div class="heritage-item image-zoom">
                        <div class="image-zoom-wrapper">
                            <img src="{{ MEDIA_URL }}history/history-img-4.jpg" loading="lazy" alt="">
                        </div>
                        <a href="{{ MEDIA_URL }}history/history-img-4.jpg" data-fancybox="gallery" data-caption="Granny Dunne, Joe Dunne, Jimmy Crombie, & May Dunne with 
                            the traction steam engine in the background. This was because the portable 
                            engine was in Hurst's Engineering having the boiler rebuilt in the late 1940s."
                            class="iconbox"><i class="ri-search-2-line"></i></a>
                    </div>
                    <div class="heritage-item image-zoom mt-4">
                        <div class="image-zoom-wrapper">
                            <img src="{{ MEDIA_URL }}history/history-img-8.jpg" loading="lazy" alt="">
                        </div>
                        <a href="{{ MEDIA_URL }}history/history-img-8.jpg" data-fancybox="gallery"
                            data-caption="Charles Dunne & Joe Lee building a shed in the early 1930s."
                            class="iconbox"><i class="ri-search-2-line"></i></a>
                    </div>
                    <div class="heritage-item image-zoom mt-4">
                        <div class="image-zoom-wrapper">
                            <img src="{{ MEDIA_URL }}history/history-img-12.jpg" loading="lazy" alt="">
                        </div>
                        <a href="{{ MEDIA_URL }}history/history-img-12.jpg" data-fancybox="gallery"
                            data-caption="Joe Dunne working on the Saw Bench 1945." class="iconbox"><i
                                class="ri-search-2-line"></i></a>
                    </div>
                    <div class="heritage-item image-zoom mt-4">
                        <div class="image-zoom-wrapper">
                            <img src="{{ MEDIA_URL }}history/history-img-16.jpg" loading="lazy" alt="">
                        </div>
                        <a href="{{ MEDIA_URL }}history/history-img-16.jpg" data-fancybox="gallery"
                            data-caption="Des Lee, Brian Slevin, Sean Castles, & Noel Dunne outside the workshop in the late 1960s."
                            class="iconbox"><i class="ri-search-2-line"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Heritage Gallery Section -->

<!-- History Videos Section -->
<section id="heritage-video" class="section-padding bg-light">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center" data-aos="fade-down" data-aos-delay="150">
                <div class="section-title">
                    <h1 class="display-4 fw-semibold">Back Through The Years</h1>
                    <div class="line"></div>
                    <p>Relive the artistry and dedication of our craft with these historical videos, capturing the
                        essence of joinery through the decades.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-12 pb-4" data-aos="fade-right" data-aos-delay="150">
                <div class="ratio ratio-16x9">
                    <iframe src="https://www.youtube.com/embed/BlA3UC3ciaw?si=tsaGPqRzFjfF3xsG"
                        title="Joe Dunne 1925 to 2014" allow="fullscreen; picture-in-picture;" loading="lazy"
                        referrerpolicy="no-referrer" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-md-6 col-12" data-aos="fade-left" data-aos-delay="150">
                <div class="ratio ratio-16x9">
                    <iframe src="https://www.youtube.com/embed/lFUj4csjvZw?si=PZlU45keSptEx2ZN" title="Dunne's Museum"
                        allow="fullscreen; picture-in-picture;" loading="lazy" referrerpolicy="no-referrer"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End History Videos Section -->
{% endblock %}
{% block postloadjs %}
{{ block.super }}
<script>
    // Initialize Fancy Box
    Fancybox.bind("[data-fancybox='gallery']");
</script>
{% endblock %}