body {
    height: 100%;
    position: relative;
}

.bg-image {
    position: fixed;
    top: 50%;
    left: 85%;
    min-width: 80%;
    min-height: 80%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%) scale(0.6);
    z-index: -2;
}

.bg-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* Adjust image opacity for translucency */
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1;
}

.masthead {
    position: relative;
    overflow: hidden;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 140px;
    padding-bottom: 140px;
}

.masthead:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* Complex Circle Gradient */
    background-image: radial-gradient(circle at 21% 15%, hsla(210,0%,82%,0.1) 0%, hsla(210,0%,82%,0.1)
    45%,transparent 45%, transparent 83%,transparent 83%, transparent 100%),radial-gradient(circle at 84% 23%,
    hsla(210,0%,82%,0.1) 0%, hsla(210,0%,82%,0.1) 68%,transparent 68%, transparent 93%,transparent 93%, transparent
    100%),radial-gradient(circle at 7% 76%, hsla(210,0%,82%,0.1) 0%, hsla(210,0%,82%,0.1) 52%,transparent 52%,
    transparent 75%,transparent 75%, transparent 100%),radial-gradient(circle at 59% 77%, hsla(210,0%,82%,0.1) 0%,
    hsla(210,0%,82%,0.1) 87%,transparent 87%, transparent 93%,transparent 93%, transparent 100%),radial-gradient(circle
    at 59% 5%, hsla(210,0%,82%,0.1) 0%, hsla(210,0%,82%,0.1) 54%,transparent 54%, transparent 56%,transparent 56%,
    transparent 100%),linear-gradient(60deg, rgb(0,197,19),rgb(47,145,255));
}

.masthead-content {
    position: relative;
    max-width: 40rem;
    border-radius: 25px;
    background-color: white;
    padding: 2rem;
}

.contact-info-box {
    width: 355px;
    max-width: 100%;
    padding-bottom: 47px;
}

.contact-icon, .contact-heading {
    font-size: 18px;
    line-height: 1.2;
    color: #fff;
    padding-right: 25px;
}

.contact-heading {
    padding-right: 0;
    padding-bottom: 20px;
}

.contact-content {
    font-size: 15px;
    line-height: 1.6;
    color: #00ad5f;
}

.location-grey-text {
    color: #999
}

/* ----- Form Styling ----- */

.container-fluid h3 {
    font-weight: 700;
}

.form-control {
    background-color: #dddddd;
    color: #333333;
}

.form-control::placeholder {
    color: #999999;
    font-size: 0.8rem;
}

.form-group {
    margin-bottom: 1rem;
}

/* Form Submit Button */
button[type="submit"] {
    padding: 0.75rem 1rem;
    font-size: 1rem;
    border-radius: 5px;
}

/* ----- Media Queries ----- */

@media (max-width:786px) {
    .masthead-content {
        padding: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .container-fluid {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (min-width: 992px) {
    .masthead {
        height: 100%;
        width: 70vw;
        min-height: 0;
        padding-bottom: 0;
    }

    .masthead:before {
        transform: skewX(-9deg);
        transform-origin: top right;
    }

    .masthead-content {
        border-radius: 25px;
        background-color: white;
        padding: 2rem;
        margin: 0 9rem 5rem 2rem;
    }
}

@media (max-width: 992px) {
    
    .bg-image {
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        transform: translateX(-50%) translateY(-50%);
        z-index: -2;
    }

    .contact-info-box {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .contact-icon {
        padding-right: 0;
        margin-bottom: 10px;
        font-size: 25px;
    }

    .contact-heading {
        padding-bottom: 10px;
    }
}

@media (min-width: 1200px) {
    .masthead {
        width: 65vw;
    }

    .contact-info-wrapper {
        position: relative;
        z-index: 2;
    }
}

@media (min-width: 992px) {
    .contact-info-wrapper {
        position: absolute;
        height: 100%;
        top: -15%;
        right: 6%;
        width: auto;
    }
}

@media (max-width: 1200px) {
    .contact-info-wrapper {
        top: -19%;
        right: 0;
        margin: 60px 0 30px 0;
    }
}