body {
    height: 100%;
    position: relative;
}

.bg-image {
    position: fixed;
    top: 50%;
    left: 85%;
    min-width: 80%;
    min-height: 80%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%) scale(0.6);
    z-index: -2;
}

.bg-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Adjust opacity for translucency */
    z-index: -1;
}

.masthead {
    position: relative;
    overflow: hidden;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 140px;
    padding-bottom: 140px;
}

.masthead:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* background-color: rgb(43, 120, 228, 0.6); */
    background: linear-gradient(to top right, #00c513, #2f91ff);
}

.masthead .masthead-content {
    position: relative;
    max-width: 40rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.masthead .masthead-content h1, .masthead .masthead-content .h1 {
    font-size: 2.5rem;
}

.masthead .masthead-content p {
    font-size: 1.2rem;
}

.masthead .masthead-content p strong {
    font-weight: 700;
}

.masthead .masthead-content .input-group-newsletter input {
    height: auto;
    width: 100%;
    font-size: 1rem;
    padding: 1rem;
}

.masthead .masthead-content .input-group-newsletter button {
    font-size: 0.85rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: calc(1rem + 2px);
}

.size1 {
    width: 355px;
    max-width: 100%;
}

.size2 {
    width: calc(100% - 43px);
}

.p-b-47 {
    padding-bottom: 47px;
}

.p-r-25 {
    padding-right: 25px;
}

.p-b-20 {
    padding-bottom: 20px;
}

.txt1 {
    font-size: 18px;
    line-height: 1.2;
    color: #fff;
}

.txt2 {
    font-size: 15px;
    line-height: 1.6;
    color: #999;
}

.txt3 {
    font-size: 15px;
    line-height: 1.6;
    color: #00ad5f;
}

@media (min-width: 992px) {
    .masthead {
        height: 100%;
        width: 70vw;
        min-height: 0;
        padding-bottom: 0;
    }

    .masthead:before {
        transform: skewX(-9deg);
        transform-origin: top right;
    }

    /* Clean up declarations */
    .masthead .masthead-content {
        border-radius: 25px;
        background-color: white;
        padding-top: 2rem;
        padding-bottom: 0;
        padding-left: 2rem;
        padding-right: 2rem;
        margin-left: 2rem;
        margin-right: 9rem;
        margin-bottom: 5rem;
    }

    .masthead .masthead-content h1, .masthead .masthead-content .h1 {
        font-size: 3.5rem;
    }

    .masthead .masthead-content p {
        font-size: 1.3rem;
    }
}

@media (min-width: 1200px) {
    .masthead {
        width: 65vw;
    }
}

.social-info {
    position: relative;
    z-index: 2;
}

@media (min-width: 992px) {
    .social-info {
        position: absolute;
        height: 100%;
        top: -15%;
        right: 6%;
        width: auto;
    }
}

@media (max-width: 1200px) {
    .social-info {
        right: 0;
    }
}