.windows-hero-btn-container a:hover {
    transform: scale(1.10);
    transition: var(--transition);
}

.section-subtitle {
    max-width: 800px !important;
}

/* ----- Available Products Section ----- */

/* Make the <li> a flex container */
ul.list-unstyled li {
    display: flex;
    align-items: flex-start; /* Align the text and icon to the top */
}

/* List icon styling */
ul.list-unstyled li i {
    margin-top: 5px;
    margin-right: 10px; /* Space between the icon and text */
    flex-shrink: 0; /* Prevent the icon from shrinking */
}

/* Prevent the text from wrapping under the icon */
ul.list-unstyled li span {
    white-space: nowrap;
}

.windows-item {
    display: block;
    cursor: pointer;
}

/* Default Card Style */
.card {
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.btn-see-more:hover {
    transform: scale(1.05);
}

/* Ensure all cards are the same height and remove extra space */
.windows-item .card {
    display: flex;
    flex-direction: column;
    border: none;
    overflow: hidden;
}

.product-card-img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    transition: var(--transition);
}

.product-card-img:hover {
    transform: scale(1.1);
}

/* Product Icon Box */

#windowsGrid .card .iconbox {
    background-color: var(--primary);
    color: white;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: var(--transition);
    opacity: 0;
}

#windowsGrid .card .iconbox:hover {
    background-color: white;
    color: var(--primary);
}

#windowsGrid .card:hover .iconbox {
    opacity: 1;
    top: 50%;
}

#available-products .nav-link::before {
    height: 0;
}

#available-products .nav-pills .nav-link {
    color: #333;
    margin: 0 5px;
    padding: 10px 20px;
    transition: var(--transition);
}

#available-products .nav-pills .nav-link:hover {
    background: var(--primary);
    color: white;
    border-radius: 30px;
}

#available-products .nav-pills .nav-link.active {
    background: var(--primary);
    color: white;
    border-radius: 30px;
}

.detailed-view {
    padding: 40px;
    background: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

/* Image Wrapper - Fixes image size inside the card */
.product-image-wrapper {
    position: relative;
    width: 100%;
    min-height: 500px;
    overflow: hidden;
}

/* Make sure the image fills the container properly */
.products-image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures no stretching */
    display: block;
}

/* Fix overlay at the bottom of the image */
.product-overlay,
.config-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 70%;
    background-color: rgba(0, 123, 255, 0.8); /* Semi-transparent blue */
    clip-path: polygon(0% 30%, 100% 5%, 100% 100%, 0% 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Overlay text styling */
.product-overlay-title {
    color: white;
    font-size: 1.6rem;
    text-align: center;
    margin-top: 40px;
}

/* ----- Features & Benefits ----- */

.feature-item {
    display: flex;
    align-items: stretch;
    padding: 12px;
}

.feature-box {
    background: #f8f9fa;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.feature-box:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
}

.feature-icon {
    font-size: 60px;
    color: #007bff;
    margin-bottom: 10px;
}

.feature-title {
    font-weight: 600;
}

.feature-description {
    font-size: 1rem;
}

/* ----- Window Profiles ----- */

#window-profiles h3 {
    font-weight: 600;
    margin-bottom: 0.75rem;
}
  
#window-profiles p {
    font-size: 1rem;
    line-height: 1.6;
}

.profile-img-wrapper-right,
.profile-img-wrapper-left {
    display: flex;
}

.profile-img-wrapper-right {
    justify-content: end;
    align-items: end;
}

.profile-img-wrapper-left {
    justify-content: start;
    align-items: start;
}

/* ----- Product Gallery ----- */

.carousel {
    margin-top: 20px;
}

.carousel-cell {
    position: relative;
    width: 80%;
    max-width: 400px;
    text-align: center;
    padding: 10px;
}

.carousel-cell img {
    width: 100%;
    height: 500px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Ribbon Label */
.image-label {
    position: absolute;
    top: 16px;
    left: 16px;
    background-color: rgba(var(--primary-rgb), 0.9);
    color: white;
    font-weight: bold;
    padding: 8px 16px;
    font-size: 14px;
    text-transform: uppercase;
    clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 90% 100%, 0% 100%);
}

.image-label p {
    margin: 0;
}

.image-caption {
    margin-top: 10px;
    font-size: 14px;
    color: #333;
}

/* ----- Contact Info ----- */

.page-contact-info p {
    font-size: 1.1rem;
    margin-bottom: 15px;
}
.page-contact-info i {
    font-size: 1.3rem;
    color: var(--primary);
    margin-right: 10px;
}

.page-contact-info a {
    margin-top: 10px;
    margin-bottom: 25px;
}

.map-container iframe {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
}

/* ----- Media Queries ----- */

@media (max-width: 991px) {
    #available-products .nav-pills .nav-link {
        padding-left: 10px;
        padding-right: 10px;
    }

    .page-contact-info {
        text-align: center;
    }

    .map-container {
        margin-top: 10px;
    }

    /* Prevents Icon Box from showing on smaller screens */
    #windowsGrid .card:hover .iconbox {
        opacity: 0 !important;
    }
}

@media (max-width: 768px) {
    #available-products .nav-pills .nav-link {
        padding-left: 15px;
        padding-right: 15px;
    }

    .windows-item {
        width: 90% !important;
        margin-bottom: 15px;
    }

    #detailTitle {
        margin-top: 20px;
    }

    .feature-item {
        width: 80%;
        margin: auto;
    }

    #window-profiles .row {
        text-align: center;
      }

    .profile-img-wrapper-right,
    .profile-img-wrapper-left {
        justify-content: center;
        align-items: center;
    }
}