{% extends "base.html" %}
{% block home_active %}active{% endblock %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'home/css/home.css' %}">
<!-- <link rel="preload" href="{{ MEDIA_URL }}home/home-hero-image.jpg" as="image"> -->
{% endblock %}

{% block content %}
<style>
    /* #hero {
        background-image: url('{{ MEDIA_URL }}home/home-hero-image.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 100%;
    } */

    #counter {
        background: linear-gradient(rgba(var(--primary-rgb), 0.8), rgba(var(--primary-rgb), 0.8)),
        url('{{ MEDIA_URL }}home/counter-image.jpg');
    }
</style>
<!-- Hero Section -->
<section id="hero" class="text-center">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{{ MEDIA_URL }}home/main-carousel.jpg" class="d-block w-100" alt="Modern interior with open staircase and minimalist decor">
            <div class="carousel-caption">
              <h5 class="text-uppercase text-white fs-1">Welcome To Dunne Eco</h5>
              <p>Some representative placeholder content for the first slide.</p>
              <p><a href="#" class="btn btn-primary mt3">See More</a></p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="{{ MEDIA_URL }}home/stairs-carousel.jpg" class="d-block w-100" alt="Collection of various steel, wooden and glass stairs">
            <div class="carousel-caption">
                <h5 class="text-uppercase text-white fs-1">Stairs</h5>
              <p>Some representative placeholder content for the second slide.</p>
              <p><a href="#" class="btn btn-primary mt3">See More</a></p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="{{ MEDIA_URL }}home/external-doors-carousel.jpg" class="d-block w-100" alt="Collection of various external/front doors">
            <div class="carousel-caption">
                <h5 class="text-uppercase text-white fs-1">External Doors</h5>
              <p>Some representative placeholder content for the third slide.</p>
              <p><a href="#" class="btn btn-primary mt3">See More</a></p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="{{ MEDIA_URL }}home/internal-doors-carousel.jpg" class="d-block w-100" alt="Collection of internal doors">
            <div class="carousel-caption">
                <h5 class="text-uppercase text-white fs-1">Internal Doors</h5>
              <p>Some representative placeholder content for the fourth slide.</p>
              <p><a href="#" class="btn btn-primary mt3">See More</a></p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="{{ MEDIA_URL }}home/windows-carousel.jpg" class="d-block w-100" alt="Collection of PVC, Aluminium and sash windows">
            <div class="carousel-caption">
                <h5 class="text-uppercase text-white fs-1">Windows</h5>
              <p>Some representative placeholder content for the Fifth slide.</p>
              <p><a href="#" class="btn btn-primary mt3">See More</a></p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>
<!-- End Hero Section -->

<!-- About Section -->
<section id="about" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center" data-aos="fade-down" data-aos-delay="50">
                <div class="section-title">
                    <h1 class="display-4 fw-semibold">About us</h1>
                    <div class="line"></div>
                    <p>Dunne Eco has a legacy spanning over 100 years, crafting excellence in the joinery trade.</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-6" data-aos="fade-down" data-aos-delay="50">
                <img src="{{ MEDIA_URL }}home/home-about-image.jpg" loading="lazy" alt="Stairs with oak steps between walls">
            </div>
            <div class="col-lg-5" data-aos="fade-down" data-aos-delay="150">
                <h1>About Dunne Eco</h1>
                <p class="mt-3 mb-4">We strive to work in a culture of co-operation and trust with a focus on the needs
                    of the customer. We have a wealth of expertise and
                    knowledge in managing even the most complex projects - driven by an experienced, skilled team.
                    Regardless of scale, we can
                    manage your project from concept to completion.</p>
                <div class="d-flex pt-4 mb-3">
                    <div class="iconbox me-4">
                        <i class="ri-home-2-line"></i>
                    </div>
                    <div>
                        <h5>Projects of Any Scale</h5>
                        <p>From bespoke home projects to large developments, we bring expertise and attention to detail every step of the way.</p>
                    </div>
                </div>
                <div class="d-flex mb-3">
                    <div class="iconbox me-4">
                        <i class="ri-user-5-line"></i>
                    </div>
                    <div>
                        <h5>Unmatched Craftsmanship</h5>
                        <p>Our team delivers high-quality, expertly crafted products designed for durability, style, and performance.</p>
                    </div>
                </div>
                <div class="d-flex mb-3">
                    <div class="iconbox me-4">
                        <i class="ri-shield-check-line"></i>
                    </div>
                    <div>
                        <h5>Quality You Can Trust</h5>
                        <p>Everything is made in-house, ensuring consistency, precision, and the highest standards in every product.</p>
                    </div>
                </div>
                <div class="d-flex align-items-center justify-content-center mb-3">
                    <a href="{% url 'history' %}" class="contact-btn">Our History</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About Section -->

<!-- Services Section -->
<section id="services" class="section-padding border-top">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center" data-aos="fade-down" data-aos-delay="150">
                <div class="section-title">
                    <h1 class="display-4 fw-semibold">Our Services</h1>
                    <div class="line"></div>
                    <p>From personalized consultations and precise onsite measurements to expertly crafted doors,
                        windows, and stairs, we deliver tailored joinery solutions every step of the way.</p>
                </div>
            </div>
        </div>
        <div class="row g-4 text-center">
            <div class="col-lg-4 col-sm-6" data-aos="fade-down" data-aos-delay="150">
                <div class="service theme-shadow p-lg-5 p-4">
                    <div class="iconbox">
                        <i class="ri-global-line"></i>
                    </div>
                    <h5 class="mt-4 mb-3">Consultation</h5>
                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ullamcorper in magna sit amet rhoncus.</p> -->
                    <p>Feel free to contact us or call into us for a free consultation about any of our products and we
                        will try our best to help find a workable solution.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6" data-aos="fade-down" data-aos-delay="250">
                <div class="service theme-shadow p-lg-5 p-4">
                    <div class="iconbox">
                        <i class="ri-ruler-2-line"></i>
                    </div>
                    <h5 class="mt-4 mb-3">Measure</h5>
                    <p>Once you are happy with a product and a design, we can personally measure everything that we need
                        to get the best fit for you.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6" data-aos="fade-down" data-aos-delay="350">
                <div class="service theme-shadow p-lg-5 p-4">
                    <div class="iconbox">
                        <i class="fa-solid fa-helmet-safety"></i>
                    </div>
                    <h5 class="mt-4 mb-3">Construction</h5>
                    <p>After everything has been measured and designs have been picked out, construction of your door,
                        window or stairs will begin.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6" data-aos="fade-down" data-aos-delay="450">
                <div class="service theme-shadow p-lg-5 p-4">
                    <div class="iconbox">
                        <i class="fa-solid fa-door-open"></i>
                    </div>
                    <h5 class="mt-4 mb-3">Doors</h5>
                    <p>We offer a wide range of doors, from veneer to solid wood or PVC and aluminium, we've got you
                        covered for all of your needs.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6" data-aos="fade-down" data-aos-delay="550">
                <div class="service theme-shadow p-lg-5 p-4">
                    <div class="iconbox">
                        <i class="ri-microsoft-line"></i>
                    </div>
                    <h5 class="mt-4 mb-3">Windows</h5>
                    <p>We also provide a variety of tilt & turn PVC, aluminium and steel windows. If you'd prefer
                        something more traditional we also offer sash windows.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6" data-aos="fade-down" data-aos-delay="650">
                <div class="service theme-shadow p-lg-5 p-4">
                    <div class="iconbox">
                        <i class="ri-stairs-fill"></i>
                    </div>
                    <h5 class="mt-4 mb-3">Stairs</h5>
                    <p>If you have another floor, we can get you there! We have an array of available stairs wooden and
                        steel in a multitude of different styles.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Services Section -->

<!-- Counter Section -->
<section id="counter" class="section-padding">
    <div class="container text-center">
        <div class="row g-4">
            <div class="col-lg-3 col-sm-6" data-aos="fade-down" data-aos-delay="150">
                <h1 id="counter-1" class="text-white display-4">2,145</h1>
                <h6 class="text-uppercase mb-0 mt-3 text-white">Satisfied Customers</h6>
            </div>
            <div class="col-lg-3 col-sm-6" data-aos="fade-down" data-aos-delay="250">
                <h1 id="counter-2" class="text-white display-4">5,368</h1>
                <h6 class="text-uppercase mb-0 mt-3 text-white">Homes Fitted</h6>
            </div>
            <div class="col-lg-3 col-sm-6" data-aos="fade-down" data-aos-delay="350">
                <h1 id="counter-3" class="text-white display-4">7,482</h1>
                <h6 class="text-uppercase mb-0 mt-3 text-white">Projects Completed</h6>
            </div>
            <div class="col-lg-3 col-sm-6" data-aos="fade-down" data-aos-delay="350">
                <h1 id="counter-4" class="text-white display-4">100+</h1>
                <h6 class="text-uppercase mb-0 mt-3 text-white">Years of History</h6>
            </div>
        </div>
    </div>
</section>
<!-- End Counter Section -->

<!-- Portfolio Section -->
<section id="portfolio" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center" data-aos="fade-down" data-aos-delay="350">
                <div class="section-title">
                    <h1 class="display-4 fw-semibold">Our Portfolio</h1>
                    <div class="line"></div>
                    <p>Interested in transforming your home or starting your project, lets see what we can do for you!
                    </p>
                </div>
            </div>
        </div>
        <div class="row g-4">
            <div class="col-md-4" data-aos="fade-down" data-aos-delay="150">
                <div class="portfolio-item image-zoom">
                    <div class="image-zoom-wrapper">
                        <img src="{{ MEDIA_URL }}home/home-portfolio-image-1.jpg" loading="lazy" alt="">
                    </div>
                    <a href="{{ MEDIA_URL }}home/home-portfolio-image-1.jpg" data-fancybox="gallery" class="iconbox"><i
                            class="ri-search-2-line"></i></a>
                </div>
                <div class="portfolio-item image-zoom mt-4">
                    <div class="image-zoom-wrapper">
                        <img src="{{ MEDIA_URL }}home/home-portfolio-image-2.jpg" loading="lazy" alt="">
                    </div>
                    <a href="{{ MEDIA_URL }}home/home-portfolio-image-2.jpg" data-fancybox="gallery" class="iconbox"><i
                            class="ri-search-2-line"></i></a>
                </div>
            </div>
            <div class="col-md-4" data-aos="fade-down" data-aos-delay="250">
                <div class="portfolio-item image-zoom">
                    <div class="image-zoom-wrapper">
                        <img src="{{ MEDIA_URL }}home/home-portfolio-image-3.jpg" loading="lazy" alt="">
                    </div>
                    <a href="{{ MEDIA_URL }}home/home-portfolio-image-3.jpg" data-fancybox="gallery" class="iconbox"><i
                            class="ri-search-2-line"></i></a>
                </div>
                <div class="portfolio-item image-zoom mt-4">
                    <div class="image-zoom-wrapper">
                        <img src="{{ MEDIA_URL }}home/home-portfolio-image-4.jpg" loading="lazy" alt="">
                    </div>
                    <a href="{{ MEDIA_URL }}home/home-portfolio-image-4.jpg" data-fancybox="gallery" class="iconbox"><i
                            class="ri-search-2-line"></i></a>
                </div>
            </div>
            <div class="col-md-4" data-aos="fade-down" data-aos-delay="350">
                <div class="portfolio-item image-zoom">
                    <div class="image-zoom-wrapper">
                        <img src="{{ MEDIA_URL }}home/home-portfolio-image-5.jpg" loading="lazy" alt="">
                    </div>
                    <a href="{{ MEDIA_URL }}home/home-portfolio-image-5.jpg" data-fancybox="gallery" class="iconbox"><i
                            class="ri-search-2-line"></i></a>
                </div>
                <div class="portfolio-item image-zoom mt-4">
                    <div class="image-zoom-wrapper">
                        <img src="{{ MEDIA_URL }}home/home-portfolio-image-6.jpg" loading="lazy" alt="">
                    </div>
                    <a href="{{ MEDIA_URL }}home/home-portfolio-image-6.jpg" data-fancybox="gallery" class="iconbox"><i
                            class="ri-search-2-line"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Portfolio Section -->

<!-- Reviews Section -->
<section id="reviews" class="section-padding bg-light">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center" data-aos="fade-down" data-aos-delay="350">
                <div class="section-title">
                    <h1 class="display-4 fw-semibold">Testimonials</h1>
                    <div class="line"></div>
                    <p>Don't just take it from us, have a look at what some of our customers say!</p>
                </div>
            </div>
        </div>
        <div class="row gy-5 gx-4">
            <div class="col-lg-4 col-sm-6" data-aos="fade-down" data-aos-delay="150">
                <div class="review review-head p-4 bg-white theme-shadow">
                    <div class="text-warning">
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                    </div>
                    <p>Needed a custom stairs for the loft on our old cottage renovation. Ian made a great
                        recommendation on a paddle/ship stairs, provided a competitive price and delivered a high
                        quality end result. Thanks to all at Dunne Eco for great local service. Would highly recommend.
                    </p>
                </div>
                <div class="review-person mt-4 d-flex align-items-center">
                    <img class="rounded-circle" src="{{ MEDIA_URL }}home/john-aherne-profile-image.png" loading="lazy"
                        alt="">
                    <div class="ms-3">
                        <h5>John Aherne</h5>
                        <small>Local Guide</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6" data-aos="fade-down" data-aos-delay="250">
                <div class="review review-head p-4 bg-white theme-shadow">
                    <div class="text-warning">
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                    </div>
                    <p>Good professional staff who are always helpful. John always a good help when he comes on site to
                        measure up</p>
                </div>
                <div class="review-person mt-4 d-flex align-items-center">
                    <img class="rounded-circle" src="{{ MEDIA_URL }}home/derek-heffernan-profile-image.png" loading="lazy"
                        alt="">
                    <div class="ms-3">
                        <h5>Derek Heffernan</h5>
                        <small>Local Guide</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6" data-aos="fade-down" data-aos-delay="350">
                <div class="review review-head p-4 bg-white theme-shadow">
                    <div class="text-warning">
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                    </div>
                    <p>Great service Great price and Great doors. Ian is a problem solver so a big thank you to the
                        professional team at Dunneeco</p>
                </div>
                <div class="review-person mt-4 d-flex align-items-center">
                    <img class="rounded-circle" src="{{ MEDIA_URL }}home/vp-regan-profile-image.png" loading="lazy" alt="">

                    <div class="ms-3">
                        <h5>VP Regan</h5>
                        <small>Independant Reviewer</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6" data-aos="fade-down" data-aos-delay="450">
                <div class="review review-head p-4 bg-white theme-shadow">
                    <div class="text-warning">
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                    </div>
                    <p>If your looking for windows and doors all sizes this the place to go staff so helpful too 👍</p>
                </div>
                <div class="review-person mt-4 d-flex align-items-center">
                    <img class="rounded-circle" src="{{ MEDIA_URL }}home/blackbird-ireland-motorbiking-profile-image.png"
                        loading="lazy" alt="">
                    <div class="ms-3">
                        <h5>blackbird & ireland motorbiking</h5>
                        <small>Local Guide</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6" data-aos="fade-down" data-aos-delay="550">
                <div class="review review-head p-4 bg-white theme-shadow">
                    <div class="text-warning">
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                    </div>
                    <p>Excellent customer service. Very professional staff. Definitely recommend.</p>
                </div>
                <div class="review-person mt-4 d-flex align-items-center">
                    <img class="rounded-circle" src="{{ MEDIA_URL }}home/ma-ma-xcryptoman-profile-image.png" loading="lazy"
                        alt="">
                    <div class="ms-3">
                        <h5>Ma Ma (Xcryptoman)</h5>
                        <small>Local Guide</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6" data-aos="fade-down" data-aos-delay="650">
                <div class="review review-head p-4 bg-white theme-shadow">
                    <div class="text-warning">
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                    </div>
                    <p>Top company run by top people..</p>
                </div>
                <div class="review-person mt-4 d-flex align-items-center">
                    <img class="rounded-circle" src="{{ MEDIA_URL }}home/malachy-mulhall-profile-image.png" loading="lazy"
                        alt="">
                    <div class="ms-3">
                        <h5>Malachy Mulhall</h5>
                        <small>Local Guide</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Reviews Section -->


{% endblock %}
{% block postloadjs %}
{{ block.super }}
<script src="{% static 'home/js/home.js' %}" defer></script>
<script>
    // Initialize Fancy Box
    Fancybox.bind("[data-fancybox='gallery']");
</script>
{% endblock %}