{% extends "base.html" %}
{% load static %}

{% block content %}
<style>
    .hero-section {
        background-image: url('{{ MEDIA_URL }}bandsaw-image.jpg');
    }
</style>
<!-- Hero Section -->
<section class="hero-section">
    <div class="container d-flex align-items-center justify-content-center fs-1 text-white flex-column">
        <h1>Dunne Eco</h1>
        <h2>Doors, Windows & Stairs Specialists</h2>
        <a href="#">About</a>
    </div>
</section>
<!-- End Hero Section -->
{% endblock %}