{% extends "base.html" %}
{% block gallery_active %}active{% endblock %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'gallery/css/gallery.css' %}">
{% endblock %}

{% block content %}
<section class="section-padding my-4 mx-auto px-3">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center" data-aos="fade-down" data-aos-delay="50">
                <div class="section-title">
                    <h1 class="display-4 fw-semibold">Our Work</h1>
                    <div class="line"></div>
                    <p>Head over to our socials to get a more in depth view of our most recent projects!</p>
                    <div class="gallery-social-icons">
                        <a href="https://www.instagram.com/dunneeco/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                        <a href="https://www.facebook.com/dunneeco/" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
                        <a href="https://www.tiktok.com/@dunneeco" target="_blank"><i class="fa-brands fa-tiktok"></i></a>
                        <a href="https://www.youtube.com/@dunneeco" target="_blank"><i class="fa-brands fa-youtube"></i></a>
                    </div>
                </div>
            </div>
            <!-- Sort Selector -->
            <div class="sort-selector mb-4">
                <form method="get">
                    <div class="px-3 py-1 rounded-pill flex-grow-0 flex-md-grow-0 d-flex align-items-center shadow-sm"
                         style="min-height: 46px; min-width: 200px; background-color: #E8E8E8;">
                        <select
                            name="category"
                            class="form-select border-0 bg-transparent shadow-none"
                            onchange="this.form.submit()"
                            style="padding-right: 2.5rem;"
                        >
                            <option value="">All Categories</option>
                            {% for category in categories %}
                                <option value="{{ category.slug }}" {% if category.slug == selected_category %}selected{% endif %}>
                                    {{ category.name }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                </form>
            </div>
        </div>
        {% for category in categories %}
        <!-- If a category is selected, only show that category -->
        {% if not selected_category or category.slug == selected_category %}
        <div class="row" data-aos="fade-down" data-aos-delay="150">
            <div class="category-section my-5">
                <div class="gallery-category-heading-wrapper">
                    <hr class="category-hr-left">
                    <h2 class="gallery-category-heading" id="{{ category.slug }}">{{ category.name }}</h2>
                    <hr class="category-hr-right">
                </div>
                <div class="gallery-grid">
                    {% for image in category.images.all %}
                    <div class="gallery-image-wrapper">
                        <a href="{{ image.image.url }}" data-fancybox="gallery" data-caption="{{ image.title }}">
                            <div class="gallery-image-container">
                                <img src="{{ image.image.url }}" alt="{{ image.title|default:'Gallery Image' }}" class="gallery-image">
                                {% if image.title %}
                                <div class="gallery-title">{{ image.title }}</div>
                                {% endif %}
                            </div>
                        </a>
                    </div>
                    {% empty %}
                    <p class="no-images">No images available for this category.</p>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}
        {% empty %}
        <p>No categories available yet.</p>
        {% endfor %}
    </div>
</section>
{% endblock %}
{% block postloadjs %}
{{ block.super }}
<script>
    // Initialize Fancy Box
    Fancybox.bind("[data-fancybox='gallery']");
</script>
{% endblock %}