/* ----- Services ----- */

.service {
    position: relative;
    overflow: hidden;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    text-align: center;
}

.service::after {
    content: "";
    width: 40px;
    height: 40px;
    background: rgba(var(--primary-rgb), 0.2);
    position: absolute;
    bottom: 0;
    right: 0;
    transition: var(--transition);
}

.service:hover::after {
    width: 100%;
    height: 100%;
    background: var(--primary);
    z-index: -1;
}

.service h5 {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.service p {
    flex-grow: 1;
}

.service:hover h5,
.service:hover p {
    color: white;
}

.service .iconbox {
    /* Center icon box */
    margin: 0 auto;
}

.service:hover .iconbox {
    background-color: rgba(255,255,255,0.2);
    color: white;
}

/* ----- Counter ----- */

#counter {
    background-position: center;
    background-size: cover;
}

/* ----- Portfolio ----- */

.portfolio-item .iconbox {
    background-color: var(--primary);
    color: white;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: var(--transition);
    opacity: 0;
}

.portfolio-item .iconbox:hover {
    background-color: white;
    color: var(--primary);
}

.portfolio-item:hover .iconbox {
    opacity: 1;
    top: 50%;
}

/* ----- Image Zoom ----- */

.image-zoom {
    position: relative;
    overflow: hidden;
}

.image-zoom-wrapper {
    position: relative;
    overflow: hidden;
}

.image-zoom-wrapper img {
    transition: var(--transition);
}

.image-zoom-wrapper:hover img {
    transform: scale(1.1);
}

/* ----- Reviews ----- */

.review p {
    min-height: 100px;
    max-height: 100px;
    overflow-y: auto;
}

.review-head {
    position: relative;
}

.review-head::after {
    content: "";
    width: 28px;
    height: 28px;
    position: absolute;
    bottom: -14px;
    background-color: white;
    transform: rotate(45deg);
}

/* ----- Media Queries ----- */

@media (max-width: 1200px) {
    .review p {
        min-height: 150px;
        max-height: 150px;
    }
}

@media (max-width: 992px) {
    .review p {
        min-height: 110px;
        max-height: 110px;
    }
}

@media (max-width: 576px) {
    .review p {
        min-height: auto;
        max-height: auto;
    }
}