.doors-hero-btn-container a:hover {
    transform: scale(1.10);
    transition: var(--transition);
}

.section-subtitle {
    max-width: 800px !important;
}

/* ----- Availabel Products Section ----- */

.door-item {
    display: block;
    cursor: pointer;
}

.card {
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

.nav-link::before{
    height: 0;    
}

.nav-pills .nav-link {
    color: #333;
    margin: 0 5px;
    padding: 10px 20px;
    transition: var(--transition);
}

.nav-pills .nav-link:hover {
    background: var(--primary);
    color: white;
    border-radius: 30px;
}

.nav-pills .nav-link.active {
    background: var(--primary);
    color: white;
    border-radius: 30px;
}

.detailed-view {
    padding: 40px;
    background: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

/* ----- Features & Benefits ----- */

.feature-item {
    display: flex;
    align-items: stretch;
    padding: 12px;
}

.feature-box {
    background: #f8f9fa;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.feature-box:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
}

.feature-icon {
    font-size: 60px;
    color: #007bff;
    margin-bottom: 10px;
}

.feature-title {
    font-weight: 600;
}

.feature-description {
    font-size: 1rem;
}

/* ----- Product Gallery ----- */

.carousel {
    margin-top: 20px;
}

.carousel-cell {
    width: 80%;
    max-width: 400px;
    text-align: center;
    padding: 10px;
}

.carousel-cell img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.image-caption {
    margin-top: 10px;
    font-size: 14px;
    color: #333;
}

@media (max-width: 768px) {
    .nav-pills .nav-link {
        padding-left: 15px;
        padding-right: 15px;
    }

    .door-item {
        width: 90% !important;
        margin-bottom: 15px;
    }

    .card img {
        max-height: 400px;
        object-fit: cover;
    }

    .card-title {
        font-size: 16px;
    }

    .feature-item {
        width: 80%;
        margin: auto;
    }
}

@media (max-width: 576px) {
    .card img {
        max-height: 300px;
    }
}