.section-subtitle {
    max-width: 800px !important;
}

/* ----- Availabel Products Section ----- */

.door-item {
    display: block;
    cursor: pointer;
}

.card {
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

.nav-link::before{
    height: 0;    
}

.nav-pills .nav-link {
    color: #333;
    margin: 0 5px;
    padding: 10px 20px;
    transition: var(--transition);
}

.nav-pills .nav-link:hover {
    background: var(--primary);
    color: white;
    border-radius: 30px;
}

.nav-pills .nav-link.active {
    background: var(--primary);
    color: white;
    border-radius: 30px;
}

.detailed-view {
    padding: 40px;
    background: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

@media (max-width: 768px) {
    .nav-pills .nav-link {
        padding-left: 15px;
        padding-right: 15px;
    }

    .door-item {
        width: 90% !important;
        margin-bottom: 15px;
    }

    .card img {
        max-height: 400px;
        object-fit: cover;
    }

    .card-title {
        font-size: 16px;
    }
}

@media (max-width: 576px) {
    .card img {
        max-height: 300px;
    }
}