/* ----- Variables ----- */

:root {
    --text: #3A3A3A;
    --background: #FFF;
    --primary: #00adef;
    --primary-rgb: 0, 173, 239;
    --secondary: #3A87C7;
    --accent: #04E824;
    --font-base: 'Poppins', sans-serif;
    --box-shadow: 0px 15px 25px rgba(0,0,0,0.1);
    --transition: all 0.5s ease;
}

/* ----- Reset & Helpers ----- */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-base);
    line-height: 1.7;
    background-color: var(--background);
    color: var(--text);
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 600;
    color: #050315;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.section-padding {
    padding-top: 140px;
    padding-bottom: 140px;
}

.theme-shadow {
    box-shadow: var(--box-shadow);
}

/* Button */
.btn {
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 50px;
    padding: 10px 24px;
}

.btn-primary {
    background-color: var(--primary);
    border-color: var(--primary);
    color: white;
}

.btn-primary:hover {
    background-color: var(--secondary);
    border-color: var(--secondary);
    color: white;
}

/*  ----- Navbar -----  */

.navbar {
    background-color: #fff;
    height: 80px;
    margin: 20px;
    border-radius: 16px;
    padding: 0.5rem;
    box-shadow: var(--box-shadow)
}

.navbar-brand {
    font-weight: 500;
    font-size: 24px;
}

.site-logo, .site-icon {
    width: 100px;
    height: 65px;
}

.site-icon {
    width: 65px;
}

.contact-btn {
    background-color: var(--primary);
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding: 7px 19px;
    border-radius: 50px;
    border: var(--primary) 1px solid;
    transition: 0.3s background-color;
}

.contact-btn:hover {
    background-color: #fff;
    color: var(--primary);
}

.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus, .btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link {
    color: #666777;
    font-weight: 500;
    position: relative;
}

.nav-link:hover, .nav-link.active {
    color: #050315;
}

/* nav link hover & active styles */
.nav-link:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    width: 0;
    height: 2px;
    background-color: var(--primary);
    visibility: hidden;
    transition: 0.3s ease-in-out;
}

.nav-link:hover:before, .nav-link.active:before {
    width: 100%;
    visibility: visible;
}

/* ----- Custom Hamburger Menu Icon ----- */

.custom-nav-toggler .toggler-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 23px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }
  
  .custom-nav-toggler .toggler-icon span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: var(--text);
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
  }
  
  .custom-nav-toggler.active .toggler-icon span:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
  }
  
  .custom-nav-toggler.active .toggler-icon span:nth-child(2) {
    opacity: 0;
  }
  
  .custom-nav-toggler.active .toggler-icon span:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
  }

/* ----- Hero Section ----- */

#hero-single {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    transition: transform 1.5s ease-out; /* Add transition for smooth zoom effect */
}

#hero-single:before {
    background-color: rgba(0, 0, 0, 0.6);
    height: 100vh;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#hero-single .container {
    height: 100vh;
    z-index: 1;
    position: relative;
}

#hero-single h1 {
    font-size: 5rem;
    font-weight: bold;
    color: #FDFDF1;
}

#hero-single h2 {
    font-size: 2rem;
    font-weight: 400;
    color: #FDFDF1;
}

#hero-single a {
    text-decoration: none;
    display: inline-block;
    color: #FDFDF1;
    border: 2px solid #FDFDF1;
    border-radius: 50px;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    padding: 10px 24px;
}

/* Apply zoom effect when the page is loaded */
#hero-single.loaded {
    transform: scale(1.05); /* Zoom in slightly */
}

#hero .carousel-caption a {
    text-decoration: none;
    display: inline-block;
    color: #FDFDF1;
    background-color: var(--primary);
    border: 2px solid transparent;
    border-radius: 50px;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    padding: 8px 22px;
    text-shadow: none;
    transition: var(--transition);
}

#hero .carousel-caption a:hover {
    color: var(--primary);
    background-color: var(--background);
}

#hero .carousel-caption p {
    font-size: 1.2rem;
}

#hero .carousel-item {
    position: relative;
    min-height: 30vh;
    transition: transform 0.8s ease-in-out; /* Ensures smooth sliding */
}

#hero .carousel-item img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

#hero .carousel-caption h1 {
    font-size: 3.5rem;
}

.carousel-caption {
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
    z-index: 1;
    margin-bottom: 12px;
}

/* Gradient overlay from bottom */
.carousel-item::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%; /* Can adjust for more/less coverage */
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
    pointer-events: none;
}

/* ----- Section Title ----- */
.section-title {
    margin-bottom: 60px;
}

.section-title .line {
    width: 60px;
    height: 4px;
    background-color: var(--primary);
    margin: 16px auto 24px auto;
}

.line-white {
    background-color: #FFF !important;
}

.section-title p {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

/* ----- Iconbox ----- */

.iconbox {
    width: 70px;
    height: 70px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: rgba(var(--primary-rgb), 0.2);
    color: var(--primary);
    font-size: 34px;
    flex: none;
}

/* ----- Footer ----- */
footer {
    padding-top: 110px;
}

.footer-top {
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-bottom {
    padding-top: 40px;
    padding-bottom: 40px;
}

footer li,
footer p,
footer a {
    color: rgba(255, 255, 255, 0.7)
}

footer ul {
    list-style: none;
    padding: 0;
}

footer h5 {
    margin-top: 51px;
}

.site-logo-footer {
    width: 110px;
    height: 75px;
}

footer .line {
    width: 40px;
    height: 4px;
    background-color: var(--primary);
    margin-top: 12px;
    margin-bottom: 24px;
}

.social-icons a {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 100px;
    transition: var(--transition);
}

.social-icons a:hover {
    background-color: var(--primary);
    color: white;
}

.footer-site-links li {
    margin-bottom: 5px;
}

.contact-info:hover, .footer-site-links a:hover {
    color: white;
    border-bottom: 2px solid var(--primary);
}

/* Needed to turn achor tag white with icon above */
.contact-info a:hover {
    color: white;
}

/* ----- Bootstrap Toasts ----- */

.message-container {
    position: fixed;
    z-index: 1050;
    top: 110px;
    right: 20px;
}

.toast-container {
    position: fixed;
    top: 110px;
    right: 20px;
    z-index: 1060;
    max-width: 350px;
    display: flex;
    overflow: visible;
}
.toast {
    display: block;
    width: auto;
    height: auto;
    z-index: 1085;
}

/* ----- Cookie Modal ----- */

.cookie-modal-header {
    /* Complex Circle Gradient */
    background-image: radial-gradient(circle at 21% 15%, hsla(210,0%,82%,0.1) 0%, hsla(210,0%,82%,0.1)
    45%,transparent 45%, transparent 83%,transparent 83%, transparent 100%),radial-gradient(circle at 84% 23%,
    hsla(210,0%,82%,0.1) 0%, hsla(210,0%,82%,0.1) 68%,transparent 68%, transparent 93%,transparent 93%, transparent
    100%),radial-gradient(circle at 7% 76%, hsla(210,0%,82%,0.1) 0%, hsla(210,0%,82%,0.1) 52%,transparent 52%,
    transparent 75%,transparent 75%, transparent 100%),radial-gradient(circle at 59% 77%, hsla(210,0%,82%,0.1) 0%,
    hsla(210,0%,82%,0.1) 87%,transparent 87%, transparent 93%,transparent 93%, transparent 100%),radial-gradient(circle
    at 59% 5%, hsla(210,0%,82%,0.1) 0%, hsla(210,0%,82%,0.1) 54%,transparent 54%, transparent 56%,transparent 56%,
    transparent 100%),linear-gradient(60deg, rgb(0,197,19),rgb(47,145,255));
}

.cookie-modal-footer {
    align-items: center;
    justify-content: center;
}

.cookie-modal-footer button,
.cookie-modal-footer a {
    transition: var(--transition);
}

#confirmCookies {
    background-color: #0d6efd;
    border-color: #0d6efd;
}

#confirmCookies:hover {
    background-color: #fff;
    border-color: #0d6efd;
    color: #0d6efd;
}

/* ----- Error 404 page ----- */

#error404 {
    background-image: radial-gradient(circle at 21% 15%, hsla(210,0%,82%,0.1) 0%, hsla(210,0%,82%,0.1)
    45%,transparent 45%, transparent 83%,transparent 83%, transparent 100%),radial-gradient(circle at 84% 23%,
    hsla(210,0%,82%,0.1) 0%, hsla(210,0%,82%,0.1) 68%,transparent 68%, transparent 93%,transparent 93%, transparent
    100%),radial-gradient(circle at 7% 76%, hsla(210,0%,82%,0.1) 0%, hsla(210,0%,82%,0.1) 52%,transparent 52%,
    transparent 75%,transparent 75%, transparent 100%),radial-gradient(circle at 59% 77%, hsla(210,0%,82%,0.1) 0%,
    hsla(210,0%,82%,0.1) 87%,transparent 87%, transparent 93%,transparent 93%, transparent 100%),radial-gradient(circle
    at 59% 5%, hsla(210,0%,82%,0.1) 0%, hsla(210,0%,82%,0.1) 54%,transparent 54%, transparent 56%,transparent 56%,
    transparent 100%),linear-gradient(60deg, rgb(0,197,19),rgb(47,145,255));
}

.error-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

.error-content {
    text-align: center;
}

.error-content h1 {
    font-size: 9rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.error-content p {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
}

.error-home-btn,
.error-contact-btn {
    color: var(--primary);
    background: var(--background);
    display: inline-block;
    font-weight: 700;
    border: 2px solid transparent;
    text-transform: uppercase;
    padding: 10px 22px;
    font-size: 16px;
    border-radius: 40px;
    margin: 7px 7px 24px 7px;
    transition: 0.2s all;
}

.error-contact-btn {
    border: 2px solid var(--background);
    color: var(--background);
    background-color: transparent;
}


.error-home-btn:hover,
.error-contact-btn:hover {
    scale: 1.1;
}

.error-social {
    line-height: 1.4;
    text-align: center;
}

.error-social a {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    width: 50px;
    font-size: 17.5px;
    color: #FFF;
    margin: 0px 6px;
    transition: 0.2s all;
}

.error-social a:hover {
    color: var(--primary);
    background-color: var(--background);
    border-radius: 50%;
}

.lottie-animation {
    max-width: 400px;
    margin-bottom: 1.5rem;
}

/* ----- Media Queries ----- */

@media (max-width: 1200px) {
    #hero-single h1 {
        font-size: 4.5rem;
    }
}

@media (max-width: 991px) {
    .navbar {
        padding-right: 0;
        padding-left: 0;
    }

    .nav-container {
        background-color: #fff;
        border-radius: 16px;
        box-shadow: var(--box-shadow)
    }

    #navbarNav {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }

    .nav-link:hover:before, .nav-link.active:before {
        width: 10%; /* Shorter underline on mobile */
    }

    .navbar-nav {
        text-align: center;
        padding-bottom: 16px;
    }
    
    #hero-single h2 {
        font-size: 1.8rem;
    }

    #hero .carousel-item img {
        height: 80vh;
    }

    #hero .carousel-inner {
        margin-top: 120px;
    }

    .about-content-container {
        margin-top: 1rem !important;
    }
}

@media (min-width: 991px) {
    .navbar-nav {
        padding-right: 1rem;
    }
}

@media (max-width: 1007px) {
    #hero .carousel-caption h1 {
        font-size: 2rem;
    }

    #hero .carousel-caption p {
        font-size: 1rem;
    }

    #hero .carousel-caption a {
        padding: 6px 18px;
        font-size: 12px;
    }
}

@media (max-width: 768px) {

    .nav-link:hover:before, .nav-link.active:before {
        width: 15%;
    }

    #hero-single h1 {
        font-size: 4rem;
    }
    
    #hero-single h2 {
        font-size: 1.5rem;
    }
    
    #hero .carousel-caption a {
        font-size: 10px;
        padding: 4px 8px;
    }

    #hero .carousel-inner {
        margin-top: 120px;
    }

    #hero .carousel-item img {
        height: 50vh;
    }

    #hero .carousel-caption h1 {
        font-size: 22.5px;
    }

    #hero .carousel-caption p {
        width: 100%;
        line-height: 1.6;
        font-size: 12px;
        margin-bottom: 8px;
    }
}

@media (max-width: 575px) {

    .nav-link:hover:before, .nav-link.active:before {
        width: 20%;
    }
    
    #hero .carousel-item img {
        height: 40vh;
    }

    footer {
        padding-top: 60px;
    }
    
    footer h5 {
        margin-top: 0;
    }

    .footer-content div {
        text-align: center;
    }

    footer .line {
        margin-left: auto;
        margin-right: auto;
    }

    .site-logo-footer {
        width: 170px;
        height: 125px;
    }
}

@media (max-width: 480px) {
    #hero-single h1 {
        font-size: 3.5rem;
    }
    
    #hero-single h2 {
        font-size: 1.2rem;
    }

    #hero .carousel-item img {
        height: 30vh; /* Adjust the height as needed */
    }
}

@media (max-width: 396px) {
    #hero-single h1 {
        font-size: 3.1rem;
    }
}
