/* ----- Variables ----- */

:root {
    /* --text: #050315; */
    --text: #3A3A3A;
    --background: #FDFDF1;
    /* --primary: #0B00F7; */
    --primary: #00ADEF;
    --secondary: #0059FF;
    --accent: #04E824;
    --font-base: 'Poppins', sans-serif;
    --box-shadow: 0px 15px 25px rgba(0,0,0,0.88);
    --transition: all 0.5s ease;
}

/* ----- Reset & Helpers ----- */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-base);
    line-height: 1.7;
    background-color: var(--background);
    color: var(--text);
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 600;
}

a {
    text-decoration: none;
    color: var(--primary);
    transition: var(--transition);
}

a:hover {
    color: var(--secondary)
}

img {
    max-width: 100%;
    height: auto;
}

.section-padding {
    padding-top: 140px;
    padding-bottom: 140;
}

/*  ----- Navbar -----  */

.navbar {
    background-color: #fff;
    height: 80px;
    margin: 20px;
    border-radius: 16px;
    padding: 0.5rem;
}

.navbar-brand {
    font-weight: 500;
    font-size: 24px;
}

.site-logo, .site-icon {
    width: 100px;
    height: 65px;
}

.site-icon {
    width: 65px;
}

.contact-btn {
    background-color: var(--primary);
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding: 7px 19px;
    border-radius: 50px;
    border: var(--primary) 1px solid;
    transition: 0.3s background-color;
}

.contact-btn:hover {
    background-color: #fff;
    border: var(--primary) 1px solid;
    color: var(--primary);
}

.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus, .btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link {
    color: #666777;
    font-weight: 500;
    position: relative;
}

.nav-link:hover, .nav-link.active {
    color: #000;
}

@media (min-width: 991px) {
    .nav-link:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%);
        width: 0;
        height: 2px;
        background-color: var(--primary);
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }
    
    .nav-link:hover:before, .nav-link.active:before {
        width: 100%;
        visibility: visible;
    }    
}

/* ----- Hero Section ----- */

.hero-section {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
}

.hero-section:before {
    background-color: rgba(0, 0, 0, 0.6);
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.hero-section .container {
    height: 100vh;
    z-index: 1;
    position: relative;
}

.hero-section h1 {
    font-size: 4rem;
    font-weight: bold;
}

.hero-section h2 {
    font-size: 2rem;
    font-weight: 400;
    color: #b9b9b9;
}
