/* ----- Variables ----- */

:root {
    /* --text: #050315; */
    --text: #3A3A3A;
    /* --background: #FAFAFA; */
    --background: #FFF;
    /* --primary: #0B00F7; */
    --primary: #00ADEF;
    --primary-rgb: 0, 173, 239;
    /* --secondary: #0059FF; */
    --secondary: #3A87C7;
    --accent: #04E824;
    --font-base: 'Poppins', sans-serif;
    --box-shadow: 0px 15px 25px rgba(0,0,0,0.1);
    --transition: all 0.5s ease;
}

/* ----- Reset & Helpers ----- */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-base);
    line-height: 1.7;
    background-color: var(--background);
    color: var(--text);
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 600;
    color: #050315;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.section-padding {
    padding-top: 140px;
    padding-bottom: 140px;
}

.theme-shadow {
    box-shadow: var(--box-shadow);
}

/* Button */
.btn {
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 50px;
    padding: 10px 24px;
}

.btn-primary {
    background-color: var(--primary);
    border-color: var(--primary);
    color: white;
}

.btn-primary:hover {
    background-color: var(--secondary);
    border-color: var(--secondary);
    color: white;
}

/*  ----- Navbar -----  */

.navbar {
    background-color: #fff;
    height: 80px;
    margin: 20px;
    border-radius: 16px;
    padding: 0.5rem;
}

.navbar-brand {
    font-weight: 500;
    font-size: 24px;
}

.site-logo, .site-icon {
    width: 100px;
    height: 65px;
}

.site-icon {
    width: 65px;
}

.contact-btn {
    background-color: var(--primary);
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding: 7px 19px;
    border-radius: 50px;
    border: var(--primary) 1px solid;
    transition: 0.3s background-color;
}

.contact-btn:hover {
    background-color: #fff;
    border: var(--primary) 1px solid;
    color: var(--primary);
}

.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus, .btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link {
    color: #666777;
    font-weight: 500;
    position: relative;
}

.nav-link:hover, .nav-link.active {
    color: #050315;
}

/* Flex styling for nav link and dropdown toggle on mobile */
.nav-item.dropdown .d-flex {
    display: flex;
    align-items: center;
}

.dropdown-toggle {
    cursor: pointer;
}

/* Additional styling for nav and dropdown on smaller screens */
.nav-link, .dropdown-toggle {
    color: #666777;
    font-weight: 500;
}

.dropdown-toggle:hover {
    color: #050315;
}

/* Ensure dropdown shows and hides smoothly */
.dropdown-menu {
    display: none;
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
}

.dropdown-menu.show {
    display: block;
    opacity: 1;
}

.dropdown-item:hover {
    background-color: #e0e0e0
}

/* ----- Hero Section ----- */

/* #hero {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
} */

#hero:before {
    /* background-color: rgba(0, 173, 239, 0.3); */
    background-color: rgba(0, 0, 0, 0.6);
    height: 100vh;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#hero .container {
    height: 100vh;
    z-index: 1;
    position: relative;
}

#hero h1 {
    font-size: 5rem;
    font-weight: bold;
    color: #FDFDF1;
}

#hero h2 {
    font-size: 2rem;
    font-weight: 400;
    color: #FDFDF1;
}

#hero a {
    text-decoration: none;
    display: inline-block;
    color: #FDFDF1;
    border: 2px solid #FDFDF1;
    border-radius: 50px;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    padding: 10px 24px;
}

/* ----- Section Title ----- */
.section-title {
    margin-bottom: 60px;
}

.section-title .line {
    width: 60px;
    height: 4px;
    background-color: var(--primary);
    margin: 16px auto 24px auto;
}

.section-title p {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

/* ----- Iconbox ----- */

.iconbox {
    width: 70px;
    height: 70px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: rgba(var(--primary-rgb), 0.2);
    color: var(--primary);
    font-size: 34px;
    flex: none;
}

/* ----- Footer ----- */
footer {
    padding-top: 110px;
}

.footer-top {
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-bottom {
    padding-top: 40px;
    padding-bottom: 40px;
}

footer li,
footer p,
footer a {
    color: rgba(255, 255, 255, 0.7)
}

footer ul {
    list-style: none;
    padding: 0;
}

footer h5 {
    margin-top: 51px;
}

.site-logo-footer {
    width: 110px;
    height: 75px;
}

footer .line {
    width: 40px;
    height: 4px;
    background-color: var(--primary);
    margin-top: 12px;
    margin-bottom: 24px;
}

.social-icons a {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 100px;
    transition: var(--transition);
}

.social-icons a:hover {
    background-color: var(--primary);
    color: white;
}

.footer-site-links li {
    margin-bottom: 5px;
}

.contact-info:hover, .footer-site-links a:hover {
    color: white;
    border-bottom: 2px solid var(--primary);
}

/* Needed to turn achor tag white with icon above */
.contact-info a:hover {
    color: white;
}

/* ----- Bootstrap Toasts ----- */

.message-container {
    position: fixed;
    z-index: 1050;
    top: 110px;
    right: 20px;
}

.toast-container {
    position: fixed;
    top: 110px;
    right: 20px;
    z-index: 1060;
    max-width: 350px;
    display: flex;
    overflow: visible;
}
.toast {
    display: block;
    width: auto;
    height: auto;
    z-index: 1085;
}

/* ----- Media Queries ----- */

@media (max-width: 1200px) {
    #hero h1 {
        font-size: 4.5rem;
    }
}

@media (max-width: 991px) {
    #hero h2 {
        font-size: 1.8rem;
    }
}

@media (min-width: 991px) {
    /* nav link hover & active styles for large screens */
    .nav-link:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%);
        width: 0;
        height: 2px;
        background-color: var(--primary);
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }
    
    .nav-link:hover:before, .nav-link.active:before {
        width: 100%;
        visibility: visible;
    }

    /* Hide dropdown icons on large screens */
    .dropdown-toggle {
        display: none !important;
    }

    /* Open dropdown on hover for desktop */
    .nav-item.dropdown:hover .dropdown-menu {
        display: block;
        opacity: 1;
        visibility: visible;
    }

    .dropdown-menu {
        display: none; /* Hide dropdown by default */
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.8s ease-in-out;
    }
}

@media (max-width: 768px) {
    #hero h1 {
        font-size: 4rem;
    }
    
    #hero h2 {
        font-size: 1.5rem;
    }
    
    #hero a {
        font-size: 13px;
        padding: 10px 18px;
    }
}

@media (max-width: 575px) {
    
    footer {
        padding-top: 60px;
    }
    
    footer h5 {
        margin-top: 0;
    }

    .footer-content div {
        text-align: center;
    }

    footer .line {
        margin-left: auto;
        margin-right: auto;
    }

    .site-logo-footer {
        width: 170px;
        height: 125px;
    }
}

@media (max-width: 480px) {
    #hero h1 {
        font-size: 3.5rem;
    }
    
    #hero h2 {
        font-size: 1.2rem;
    }
}

@media (max-width: 396px) {
    #hero h1 {
        font-size: 3.1rem;
    }
}
