{% extends 'base.html' %}
{% block downloads_active %}active{% endblock %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'downloads/css/downloads.css' %}">
{% endblock %}

{% block content %}
<section class="section-padding my-4 mx-auto px-3">
    <div class="container">
        <h1 class="text-center mb-3">Brochures</h1>
        <!-- <a href="#" class="btn btn-primary mb-3">Upload New Brochure</a> -->
        <div class="row my-5">
            {% for brochure in brochures %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ brochure.title }}</h5>
                        <p class="card-text">{{ brochure.description }}</p>
                        <a href="{{ brochure.brochure_file.url }}" class="btn btn-success" download>Download</a>
                        <!-- <a href="#" class="btn btn-warning">Edit</a>
                        <a href="#" class="btn btn-danger">Delete</a> -->
                    </div>
                </div>
            </div>
            {% empty %}
            <p>No brochures available yet.</p>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
