{% extends "account/email/base_email.html" %}
{% block content %}
<h2>Hello from Dunne Eco 👋</h2>
<p>Hi {{ user.get_full_name|default:user.username }},</p>

<p>You're receiving this email because you (or someone else) used your email address to register an account on <strong>dunneeco.ie</strong>.</p>

<p>To confirm your email address and activate your account, click the button below:</p>

<p style="text-align:center;">
  <a href="{{ activate_url }}" class="btn">Confirm Your Email</a>
</p>

<p>If you didn't initiate this request, you can safely ignore this email.</p>
{% endblock %}
