{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    {% block meta %}
    <!-- Allows support for older browsers & prevents validation errors -->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="author" content="Dunne Eco">
    <meta name="publisher" content="Dunne Eco">
    <meta name="keywords" content="joinery services, bespoke wooden doors, custom wooden doors, wooden interior doors, wooden exterior doors, PVC front doors,
        PVC sliding doors, veneer doors, oak veneer doors, timber veneer doors, aluminium windows, aluminium doors, PVC windows, wooden sash windows, PVC sash windows,
         loft steel windows, casement windows, bespoke windows, loft steel doors, internal door kits, fire door kits, steel windows, wooden stairs, steel stairs,
         glass staircase, stairs with glass panels, custom wooden stairs, custom staircases, modern stair designs, joinery in Tullamore, luxury staircases,
         exterior doors with glass, crafted wooden windows, high-quality PVC doors, aluminium sliding doors, aluminium bifold doors">
    <meta name="description"
        content="Expert joinery services specializing in internal doors kits, fire door kits, bespoke wooden doors, PVC doors, composite doors, aluminium and steel windows, custom stairs, and high-quality veneer options. From elegant wooden and steel staircases to PVC sliding doors, sash windows, and loft designs, we craft durable, stylish solutions for interiors and exteriors. Elevate your space with our tailored joinery in Tullamore.">
    {% endblock %}

    {% block corecss %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"
        media="print" onload="this.media='all'">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" 
        media="print" onload="this.media='all'">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" 
        media="print" onload="this.media='all'">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aos/dist/aos.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css" 
        media="print" onload="this.media='all'">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="icon" type="image/x-icon" href="{{ MEDIA_URL }}base/favicon.ico">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous" defer></script>
    <script src="https://kit.fontawesome.com/324d5be901.js" crossorigin="anonymous" async></script>
    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/aos/dist/aos.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/countup@1.8.2/dist/countUp.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" 
        crossorigin="anonymous" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" 
    crossorigin="anonymous" defer></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Dunne Eco {% block extra_title%}{% endblock %}</title>
</head>

<body>
    <header>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg fixed-top">
            <div class="container-fluid nav-container">
              <a class="navbar-brand" href="{% url 'home' %}">
                <img class="site-logo d-none d-lg-block" src="{{ MEDIA_URL }}base/dunneeco-logo.png"
                        alt="Dunne Eco Logo">
                <img class="site-icon d-lg-none" src="{{ MEDIA_URL }}base/dunneeco-icon.png" loading="lazy" alt="Dunne Eco Logo">
              </a>
              <a href="{% url 'contact-form' %}" class="contact-btn ms-auto d-lg-none">Contact</a>
              <button class="navbar-toggler custom-nav-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="toggler-icon">
                  <span></span>
                  <span></span>
                  <span></span>
                </span>
              </button>
              <div class="collapse navbar-collapse p-3" id="navbarNav">
                <ul class="navbar-nav justify-content-center flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link mx-lg-2 {% block home_active %}{% endblock %}" aria-current="page" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mx-lg-2 {% block doors_active %}{% endblock %}" href="{% url 'doors' %}">Doors</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mx-lg-2 {% block windows_active %}{% endblock %}" href="{% url 'windows' %}">Windows</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mx-lg-2 {% block stairs_active %}{% endblock %}" href="{% url 'stairs' %}">Stairs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mx-lg-2 {% block history_active %}{% endblock %}" href="{% url 'history' %}">History</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mx-lg-2 {% block gallery_active %}{% endblock %}" href="{% url 'gallery' %}">Gallery</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mx-lg-2 {% block downloads_active %}{% endblock %}" href="{% url 'downloads-list' %}">Downloads</a>
                    </li>
                </ul>
              </div>
              <a href="{% url 'contact-form' %}" class="contact-btn ms-auto pe-3 d-none d-lg-block">Contact</a>
            </div>
          </nav>
        <!-- End Navbar -->

    </header>
    
    {% if messages %}
    <div class="message-container rounded">
      {% for message in messages %}
      <!-- Using django message levels to display correct message type -->
      {% with message.level as level %}
      {% if level == 40 %}
      {% include 'includes/toasts/toast_error.html' %}
      {% elif level == 30 %}
      {% include 'includes/toasts/toast_warning.html' %}
      {% elif level == 25 %}
      {% include 'includes/toasts/toast_success.html' %}
      {% else %}
      {% include 'includes/toasts/toast_info.html' %}
      {% endif %}
      {% endwith %}
      {% endfor %}
    </div>
    {% endif %}

    <!-- Bootstrap Cookie Consent Modal -->
    <div class="modal fade" id="cookieConsentModal" tabindex="-1" aria-labelledby="cookieConsentLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog" data-aos="fade-down" data-aos-delay="50">
            <div class="modal-content">
                <div class="cookie-modal-header modal-header text-white">
                    <h5 class="modal-title text-white" id="cookieConsentLabel">Cookies & Privacy</h5>
                    <button type="button" class="btn-close" id="closeModal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-3 d-flex align-items-center justify-content-center">
                            <i class="fas fa-cookie-bite fa-4x text-primary"></i>
                        </div>
                        <div class="col-9">
                            <p>
                                This website uses Google reCAPTCHA to enhance security. By continuing, you acknowledge our use of reCAPTCHA for protection against spam and abuse.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="cookie-modal-footer modal-footer">
                    <a href="{% url 'privacy-policy' %}" class="btn btn-outline-primary" id="privacyPolicyButton">Learn More</a>
                    <button type="button" class="btn btn-primary" id="confirmCookies">Confirm</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Main Content -->
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <!-- End Main Content -->

    <!-- Footer -->
     <footer class="bg-dark">
        <div class="footer-top">
            <div class="container">
                <div class="footer-content row gy-5">
                    <!-- Tagline & Social links -->
                    <div class="col-lg-3 col-sm-6">
                        <a href="#"><img class="site-logo-footer" src="{{ MEDIA_URL }}base/dunneeco-logo.png" loading="lazy" alt="Dunne Eco Logo"></a>
                        <div class="line"></div>
                        <p>With over 100 years of craftsmanship, we deliver quality joinery solutions designed with care, precision, and a commitment to excellence.</p>
                        <div class="social-icons">
                            <a href="https://www.instagram.com/dunneeco/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                            <a href="https://www.facebook.com/dunneeco/" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
                            <a href="https://www.tiktok.com/@dunneeco" target="_blank"><i class="fa-brands fa-tiktok"></i></a>
                            <a href="https://maps.app.goo.gl/hQtwXvQ9c62aXJ9s8" target="_blank"><i class="fa-solid fa-location-dot"></i></a>
                        </div>
                    </div>
                    <!-- Site Links -->
                    <div class="col-lg-3 col-sm-6">
                        <h5 class="mb-0 text-white">LINKS</h5>
                        <div class="line"></div>
                        <ul class="footer-site-links">
                            <li><a href="{% url 'home' %}">Home</a></li>
                            <li><a href="{% url 'doors' %}">Doors</a></li>
                            <li><a href="{% url 'windows' %}">Windows</a></li>
                            <li><a href="{% url 'stairs' %}">Stairs</a></li>
                            <li><a href="{% url 'history' %}">History</a></li>
                            <li><a href="{% url 'gallery' %}">Gallery</a></li>
                            <li><a href="{% url 'downloads-list' %}">Downloads</a></li>
                            <li><a href="{% url 'privacy-policy' %}">Privacy Policy</a></li>
                        </ul>
                    </div>
                    <!-- Contact -->
                    <div class="col-lg-3 col-sm-6">
                        <h5 class="mb-0 text-white">CONTACT</h5>
                        <div class="line"></div>
                        <ul>
                            <li class="mb-3">
                              <p class="mb-1">Do you have any questions or suggestions?</p>
                              <span class="contact-info"><i class="fas fa-envelope"></i>
                                <a href="{% url 'contact-form' %}" aria-label="contact form link">Contact
                                  Form</a></span>
                            </li>
                            <li class="mb-3">
                              <p class="mb-1">Do you need assistance? Give us a call</p>
                              <span class="contact-info"><i class="fas fa-phone"></i>
                                <a href="tel:0579322468">(057) 932 2468</a></span>
                            </li>
                          </ul>
                    </div>
                    <!-- Working Hours -->
                    <div class="col-lg-3 col-sm-6">
                        <h5 class="mb-0 text-white">WORKING HOURS</h5>
                        <div class="line"></div>
                        <ul>
                            <li class="mb-3">
                              <p>Monday - Friday: <span class="open-hours">9:00 a.m - 5:00 p.m</span></p>
                            </li>
                            <li class="mb-3">
                              <p>Saturday: <span class="open-hours">9:00 a.m - 1:00 p.m</span></p>
                            </li>
                            <li class="mb-3">
                              <p>Irish Standard Time</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row g-4 justify-content-between">
                    <div class="col-auto">
                        <p class="mb-0">Dunne Eco © 2024. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>
     </footer>
    <!-- End Footer -->
    {% block postloadjs %}
    <script src="{% static 'js/base.js' %}" defer></script>
    {% endblock %}
</body>

</html>