{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'stairs/css/stairs.css' %}">
{% endblock %}

{% block content %}
<style>
    #hero-single {
        background-image: url('{{ MEDIA_URL }}stairs/stairs-hero-image.webp');
        /* background-image: url('{{ MEDIA_URL }}stairs/stairs-hero-image.jpg'); */
    }
</style>
<!-- Hero Section -->
<section id="hero-single" class="text-center">
    <div class="container d-flex align-items-center justify-content-center fs-1 text-white flex-column">
        <h1 class="text-uppercase" data-aos="fade-left">Bespoke Built Stairs</h1>
        <h2 data-aos="fade-right">Precision-crafted wooden and steel staircases.</h2>
        <div class="stairs-hero-btn-container" data-aos="fade-up" data-aos-delay="50">
            <a href="{% url 'contact-form' %}" class="me-2">Get A Quote</a>
            <a href="#available-products" class="ms-2 smooth-scroll">Our Range</a>
        </div>
    </div>
</section>

<!-- Stairs Intro Section -->
<section id="stairs-introduction" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center" data-aos="fade-down" data-aos-delay="50">
                <div class="section-title">
                    <h1 class="display-4 fw-semibold">Our Stair Collection</h1>
                    <div class="line"></div>
                    <p class="section-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In non nibh ligula. Sed sem nisl, ultrices vitae purus eget, lacinia euismod tellus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nullam in mi lacinia, placerat leo ac, sodales velit. Aenean vel auctor eros, id feugiat est. Nunc ultrices varius pharetra. Nunc eu aliquam neque.</p>
                    <a href="{{ MEDIA_URL }}brochures/New_2024_Main_Brochure.pdf" class="btn btn-primary" target="_blank" rel="noopener noreferrer">
                        View Brochure <i class="ps-1 fa-solid fa-file-pdf"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script src="{% static 'stairs/js/stairs.js' %}" defer></script>
{% endblock %}