{% extends "base.html" %}
{% block home_active %}active{% endblock %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'contact/css/contact.css' %}">
{% endblock %}

{% block content %}
<section>
    <!-- Background Image-->
     <div class="bg-container">
        <img class="bg-image" src="{{ MEDIA_URL }}pexels-jonathanborba-5570224.jpg" alt="">
    </div>
    <!-- Masthead-->
    <div class="masthead">
        <div class="masthead-content">
            <div class="container-fluid px-4 px-lg-0">
                <h2 class="lh-1 mb-4 text-uppercase">Get in touch</h2>
                <!-- FORM -->
                 <form method="POST" action="{% url 'contact-form' %}" id="contact-form" class="form mb-2">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="text-center mt-5">
                        <button class="btn btn-blue rounded-pill" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Social Info -->
    <div class="social-info">
        <div class="d-flex flex-column justify-content-center align-items-center h-100 mt-3 mt-lg-0">
            <div class="d-flex size1 p-b-47">
                <div class="txt1 p-r-25">
                    <span><i class="fa-solid fa-location-dot"></i></span>
                </div>
                <div class="d-flex flex-column size2">
                    <span class="txt1 p-b-20">Address</span>
                    <span class="txt2">
                        Tanyard Lane, Tullamore, Co. Offaly, R35NY60
                    </span>
                </div>
            </div>
            <div class="d-flex size1 p-b-47">
                <div class="txt1 p-r-25">
                    <span><i class="fa-solid fa-phone"></i></span>
                </div>
                <div class="d-flex flex-column size2">
                    <span class="txt1 p-b-20">Lets Talk</span>
                    <span class="txt3">
                        (057) 932 2468
                    </span>
                </div>
            </div>
            <div class="d-flex size1 p-b-47">
                <div class="txt1 p-r-25">
                    <span><i class="fa-solid fa-envelope"></i></span>
                </div>
                <div class="d-flex flex-column size2">
                    <span class="txt1 p-b-20">General Support</span>
                    <span class="txt3">
                        info@dunneeco.com
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}