{% extends "base.html" %}
{% block home_active %}active{% endblock %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'contact/css/contact.css' %}">
{% endblock %}

{% block extra_js %}
<script src="https://www.google.com/recaptcha/enterprise.js?render={{ RECAPTCHA_PUBLIC_KEY }}"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const form = document.getElementById("contact-form"); // Change to your form's ID
    
        form.addEventListener("submit", function(event) {
            event.preventDefault(); // Prevent normal form submission
            
            grecaptcha.ready(function() {
                grecaptcha.execute("{{ RECAPTCHA_PUBLIC_KEY }}", { action: "contact_form" })
                .then(function(token) {
                    document.getElementById("recaptcha-token").value = token;
                    form.submit(); // Submit the form after setting the token
                });
            });
        });
    });
    </script>
{% endblock %}

{% block content %}
<section>
    <!-- Background Image-->
    <div class="bg-container">
        <img class="bg-image" src="{{ MEDIA_URL }}contact/contact-form-bg-img.jpg" alt="">
    </div>
    <!-- Masthead-->
    <div class="masthead">
        <div class="masthead-content">
            <div class="container-fluid px-lg-0">
                <h3 class="lh-1 mb-3 text-uppercase">Get in touch</h3>
                <!-- FORM -->
                <form method="POST" action="{% url 'contact-form' %}" id="contact-form" class="form">
                    {% csrf_token %}
                    <div id="div_id_name" class="form-group">
                        <label for="id_name" class="requiredField">Name<span class="asteriskField">*</span></label>
                        <input type="text" name="name" maxlength="50" class="contact-form-input form-control"
                            placeholder="Enter your full name" required id="id_name">
                    </div>
                    <div class="row">
                        <div id="div_id_email" class="col-md-6 form-group">
                            <label for="id_email" class="requiredField">Email<span class="asteriskField">*</span></label>
                            <input type="email" name="email" maxlength="100" class="contact-form-input form-control"
                                placeholder="Enter your email address" required id="id_email">
                        </div>
                        <div id="div_id_phone" class="col-md-6 form-group">
                            <label for="id_phone">Phone</label>
                            <input type="text" name="phone" maxlength="15" class="contact-form-input form-control"
                                placeholder="Optional: Enter your phone number" id="id_phone">
                        </div>
                    </div>
                    <div id="div_id_subject" class="form-group">
                        <label for="id_subject" class="requiredField">Subject<span class="asteriskField">*</span></label>
                        <input type="text" name="subject" maxlength="254" class="contact-form-input form-control"
                            placeholder="Enter the subject of your message" required id="id_subject">
                    </div>
                    <div id="div_id_message" class="form-group">
                        <label for="id_message" class="requiredField">Message<span class="asteriskField">*</span></label>
                        <textarea name="message" cols="40" rows="10" class="contact-form-input form-control"
                            placeholder="Type your message here" required id="id_message"></textarea>
                    </div>
                    <input type="hidden" id="recaptcha-token" name="g-recaptcha-response">
                    <div id="div_id_submit" class="form-group text-center mb-0">
                        <button type="submit" class="btn btn-primary w-100">Submit</button>
                    </div>
                </form>                
            </div>
        </div>
    </div>
    <!-- Contact Info -->
    <div class="contact-info-wrapper">
        <div class="d-flex flex-column justify-content-center align-items-center h-100 mt-3 mt-lg-0">
            <div class="contact-info-box d-flex">
                <div class="contact-icon">
                    <span><i class="fa-solid fa-location-dot"></i></span>
                </div>
                <div class="d-flex flex-column">
                    <span class="contact-heading">Address</span>
                    <span class="contact-content location-grey-text">
                        Tanyard Lane, Tullamore, Co. Offaly, R35NY60
                    </span>
                </div>
            </div>
            <div class="contact-info-box d-flex">
                <div class="contact-icon">
                    <span><i class="fa-solid fa-phone"></i></span>
                </div>
                <div class="d-flex flex-column">
                    <span class="contact-heading">Lets Talk</span>
                    <span class="contact-content">
                        (057) 932 2468
                    </span>
                </div>
            </div>
            <div class="contact-info-box d-flex ">
                <div class="contact-icon">
                    <span><i class="fa-solid fa-envelope"></i></span>
                </div>
                <div class="d-flex flex-column">
                    <span class="contact-heading ">General Support</span>
                    <span class="contact-content">
                        info@dunneeco.com
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}