{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'doors/css/doors.css' %}">
{% endblock %}

{% block content %}
<style>
    #hero-single {
        background-image: url('{{ MEDIA_URL }}doors/doors-hero.jpg');
    }
</style>
<!-- Hero Section -->
<section id="hero-single" class="text-center">
    <div class="container d-flex align-items-center justify-content-center fs-1 text-white flex-column">
        <h1 class="text-uppercase" data-aos="fade-left">Expertly Crafted Doors</h1>
        <h2 data-aos="fade-right">Wooden, PVC, and composite doors tailored to perfection.</h2>
        <div data-aos="fade-up" data-aos-delay="50">
            <a href="#" class="me-2">Get A Quote</a>
            <a href="#" class="ms-2 smooth-scroll">Our Range</a>
        </div>
    </div>
</section>

<!-- Doors Intro -->
<section id="doors-introduction" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center" data-aos="fade-down" data-aos-delay="50">
                <div class="section-title">
                    <h1 class="display-4 fw-semibold">Our Door Collection</h1>
                    <div class="line"></div>
                    <p class="section-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In non nibh ligula. Sed sem nisl, ultrices vitae purus eget, lacinia euismod tellus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nullam in mi lacinia, placerat leo ac, sodales velit. Aenean vel auctor eros, id feugiat est. Nunc ultrices varius pharetra. Nunc eu aliquam neque. </p>
                    <a href="{{ brochure.brochure_file.url }}" class="btn btn-primary" target="_blank" rel="noopener noreferrer">
                        View Brochure <i class="ps-1 fa-solid fa-file-pdf"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}